* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: #a5e1ad;
}

h1 {
  font-size: 45px;
}

h2 {
  text-decoration: underline;
}

ul {
  list-style: none;
}

li + li {
  margin-top: 1rem;
}

img {
  border-radius: 15px;
}

img {
  width: 100%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 450px;
}

.container {
  display: flex;
  margin: 1rem;
  height: 100%;
}

.col {
  padding: 1rem;
}

.container > div:nth-child(1) {
  flex: 1;
  background-color: cornflowerblue;
}

.container > div:nth-child(2) {
  flex: 2;
  background-color: darkgoldenrod;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
